.admin-dashboard {
    padding: 20px;
  }
  
  .tab-buttons {
    margin-bottom: 20px;
  }
  
  .tab-buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: var(--tiger-eye);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .tab-buttons button.active {
    background-color: var(--dark-moss-green);
    color: white;
    border-color: var(--cornsilk);
  }
  
  .tab-buttons button:hover {
    background-color: var(--dark-moss-green);
    color: white;
  }
  
  .tab-content {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  