@import '../styles.css';

.inventory-container {
    padding: 20px;
    background-color: var(--pakistan-green);
  }
  
  .filter-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .inventory-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}
  
.inventory-item-card {
    background: var(--earth-yellow);
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.inventory-item-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
  
.inventory-item-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
  
.item-details {
    padding: 15px;
    text-align: center;
}
  
.item-details h3 {
    margin: 0 0 10px;
    color: #333;
    font-size: 18px;
}
  
.item-details p {
    margin: 0;
    color: #666;
    font-size: 14px;
}
  
.item-rarity {
    display: block;
    margin-top: 10px;
    color: #007bff;
    font-weight: bold;
    font-size: 16px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .inventory-grid {
        grid-template-columns: 1fr;  /* Makes the grid single column on smaller screens */
    }

    .inventory-item-card {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .item-details {
        padding: 10px;
    }
}

  
  .filter-tabs button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: var(--tiger-eye);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .filter-tabs button.active,
  .filter-tabs button:hover {
    background-color: var(--dark-moss-green);
    color: white;
  }

  .filter-tabs button.active {
    border: solid 1px white;

  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
  }
  
  .pagination button.active,
  .pagination button:hover {
    background-color: #007bff;
    color: white;
  }
  